html {
    background-color: #008080;
}


.startBox {
    margin-bottom: 46px;
    margin-left : 4px;
    width: 300px;
    height: 400px;
    background-color: red;
    color: green;
    position: fixed;
    bottom: 0;
    border-style: solid;
    border-width: 1px 0px 0px 1px;
    border-color: #dfdfdf #dfdfdf;
    background-color: #c3c3c3;
}

.programBox {
    margin-top: -1px;
    margin-left : 299px;
    width: 200px;
    height: 199px;
    background-color: red;
    color: green;
    position: fixed;
    border-style: solid;
    border-width: 2px 0px 0px 1px;
    border-color: #dfdfdf #dfdfdf;
    background-color: #c3c3c3;
}

.accessoriesBox {
    margin-top: -198px;
    margin-left : 199px;
    width: 200px;
    height: 320px;
    background-color: red;
    color: green;
    /* position: relative; */
    border-style: solid;
    border-width: 2px 0px 0px 1px;
    border-color: #dfdfdf #dfdfdf;
    background-color: #c3c3c3;
}

.row {
    height: 100%;
}

.windows95Row {
    position: absolute;
    width: 100%;
}

.vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: 100%;
    width: 100%;
    font-size: 50px;
    text-align: justify;
    /* padding: 30px 0!important; */
    padding-top: 30px!important;
    padding-bottom: 30px!important;
    padding-left: 0px!important;
    padding-right: 5px!important;
    border-style: solid;
    border-width: 1px 0px 0px 1px;
    border-color: black transparent transparent #dfdfdf;
    background-color: #808080;
}

.startDiv {
    align-items: right;
    height: 14.285%;
    width: 100%;
    padding: 0 0 0 0!important;
}

.divButton {
    cursor: pointer;
    padding-top: 5%;
    width: 106%;
    height: 100%;
    background-color: #c3c3c3;
    color: black;
    text-align: left;
}

.programButton {
    cursor: pointer;
    padding-top: 3px;
    width: 100%;
    height: 100%;
    background-color: #c3c3c3;
    color: black;
    text-align: left;
}

.accessoriesButton {
    cursor: pointer;
    padding-top: 3px;
    height: 28.8px;
    background-color: #c3c3c3;
    color: black;
    text-align: left;
}

.programButton span {
    padding-left: 10px;
}

.accessoriesButton span{
    padding-left: 10px;
}

.divShutdown {
    border-top: 2px solid #808080;
}

.divButton:hover {
    background-color: #000099;
    color: white;    
}

.programButton:hover {
    background-color: #000099;
    color: white;
}

.accessoriesButton:hover {
    background-color: #000099;
    color: white;
}

.arrowRight {
    margin-top: 4px;
    padding-top: 5px;
    padding-right: 5px;
    height: 20px;
    float: right;
}

.arrowRight2 {
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 60px;
    height: 20px;
}

.arrowRight3 {
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 84px;
    height: 20px;
}

.spanWindows {
    cursor: default;
    color: #c3c3c3;
}

.span95 {
    cursor: default;
    color: white;
}

.imgIcon1 {
    padding-left: 2px;
    padding-right: 15px;
}

.imgIcon2 {
    padding-left: 2px;
    /* padding-right: 5px; */
    width: 24px;
}

.paintContainer {
    width: 1000px;
    height: 850px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-500px;   /* negative half of width above */
    margin-top:-400px; 
}

.calcContainer {
    width: 450px;
    height: 500px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-530px;
    margin-top:-400px;
    background-color: #dfdfdf;
}

.paintHeader {
    border-style: solid;
    border-width: 2px;
    border-color: #dfdfdf;
    background-color: white;
    width: 1000px;
    height: 30px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-500px!important;   /* negative half of width above */
    margin-top:-428px;
    background-color: #000099;
}

.calcHeader {
    border-style: solid;
    border-width: 2px;
    border-color: #dfdfdf;
    background-color: white;
    width: 450px;
    height: 30px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-530px!important;
    margin-top:-428px;
    background-color: #000099;
}

.closePaint {
    margin-left: 90.9%;
    cursor: pointer;
}

.closeCalc {
    margin-left: 71.5%;
    cursor: pointer;
}

.paintIcon img {
    margin-left: 3px;
    margin-bottom: 3px;
    width: 20px;
}

.paintIcon span {
    margin-left: 10px;
    color: white;
}

.dropdownDiv {
    margin-left: 2px;
    margin-top: 2px;
    display: inline-block;
    position: fixed;
}