.drag-wrapper {
    width: 120px;
    height: 150px;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}


.iconText {
    color: white;
}

.drag-wrapper img {
    height: 50px;
    width: 50px;
}